﻿@inject IDataService DataService
@inject IJSRuntime JS
@using System.Threading
@using Microsoft.JSInterop

<Timer Interval="60000" Callback=@TimerCallback> </Timer>

@if (Data == null)
{
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
}
else
{
    <div class="row">
        <div class="col-2 offset-10" style="text-align:right; padding-bottom:20px">
            <button class="btn btn-primary @(CanAdd() ? "active" : "disabled")" type="button" onclick="@AddToFavourites">
                Add to favourites 
                @if (CheckedCount > 0)
                {
                    <span class="badge badge-light">@CheckedCount</span>
                }
            </button>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price, USD</th>
                <th scope="col">Change (5m)</th>
                <th scope="col">Change (1h)</th>
                <th scope="col">Change (24h)</th>
                <th scope="col">Last updated</th>
                <th scope="col">&nbsp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Data)
            {
                <tr class="@(item.IsFavorite ? "table-success" : "")">
                    <th scope="row">@(item.OrderNum)</th>
                    <td>
                        <img src="@item.Icon" class="logo-sprite" alt="@item.Name" height="16" width="16">
                        <span>@item.Name</span>
                        <br class="visible-xs">
                    </td>
                    <td>$@(item.Price)</td>
                    <td>Not Information</td>
                    <td>@(item.Prc1h)%</td>
                    <td>@(item.Prc24h)%</td>
                    <td>@(item.LastUpdated)</td>
                    <td>
                        @if (!item.IsFavorite)
                        {
                            <input type="checkbox" bind="@(item.IsChecked)" />
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>

}

@functions {

    List<CurrencyViewModel> Data { get; set; }

    int CheckedCount => Data?.Count(x => x.IsChecked) ?? 0;

    List<long> Favorites { get; set; }

    bool CanAdd() => Data.Any(x => x.IsChecked);

    void AddToFavourites()
    {
        var checkedItems = Data.Where(x => x.IsChecked);
        foreach (var item in checkedItems)
        {
            if (Favorites.All(x => x != item.Id))
            {
                Favorites.Add(item.Id);
                item.IsFavorite = true;
            }
            
        }
        JS.InvokeAsync<bool>("AddToFavorites",Favorites);
        foreach (var item in Data)
        {
            item.IsChecked = false;
        }
        Data = Data.OrderByDescending(x => x.IsFavorite).ThenByDescending(x => x.MarketCap).ToList();
    }

    protected override void OnInit()
    {
        Favorites = new List<long>();
    }


    protected override async Task OnInitAsync()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        var data = await DataService.FetchData();
        Data = data.ToList();
        Favorites = (await JS.InvokeAsync<long[]>("GetFavorites", Favorites)).ToList();
        foreach(var item in Data)
        {
            if(Favorites.Any(x=>x == item.Id))
            {
                item.IsFavorite = true;
            }
        }

        Data = Data.OrderByDescending(x => x.IsFavorite).ThenByDescending(x => x.MarketCap).ToList();
        for (var i = 0; i < data.Length; i++)
        {
            Data[i].OrderNum = i + 1;
        }


    }

    void TimerCallback()
    {
        Task.Run(async () => await LoadData());
        Console.WriteLine("Timer");
        this.StateHasChanged();
    }
}