﻿@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About Blazor</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
